# Idea: Compare overall process times of instances

-> Sum the process time for a serial number and compare the times on the time axis

In [14]:
import pandas as pd

# Load the data from JSON
data = pd.read_json("processtimes.json")

# Create a dictionary to store unique stations per serial number as a single string
stations_per_item = {}

for serial_number in data["SerialNumber"].unique():
    # Get unique stations for the current serial number and join them into a single string
    unique_stations = ", ".join(data[data["SerialNumber"] == serial_number]["StationName"].unique())
    stations_per_item[serial_number] = unique_stations

# Convert the dictionary to a DataFrame for easy comparison
stations_per_item_df = pd.DataFrame(list(stations_per_item.items()), columns=["SerialNumber", "Stations"])

# Identify unique station groups and assign a group ID for each unique set of stations
stations_per_item_df["Group_ID"] = stations_per_item_df.groupby("Stations").ngroup()

# Sort the DataFrame by Group_ID for easier viewing
stations_per_item_df = stations_per_item_df.sort_values(by="Group_ID").reset_index(drop=True)

# Display the DataFrame with groups
stations_per_item_df

,SerialNumber,Stations,Group_ID
0,1,"StationName1, StationName23, StationName39, St...",0
1,14,"StationName1, StationName23, StationName39, St...",0
2,11224,StationName10,1
3,20878,"StationName10, StationName38, StationName61",2
4,25890,"StationName10, StationName38, StationName61",2
...,...,...,...
26360,15187,StationName97,842
26361,10235,StationName97,842
26362,16470,StationName97,842
26363,538,"StationName99, StationName133",843
26364,420,"StationName99, StationName133",843

In [24]:
stations_per_item_grouped = stations_per_item_df.groupby("Group_ID").count()

stations_per_item_grouped.sort_values(by='SerialNumber',ascending=False)

          SerialNumber  Stations
Group_ID
817               1880      1880
335               1251      1251
318               1248      1248
484               1078      1078
485               1077      1077
...                ...       ...
199                  1         1
664                  1         1
198                  1         1
197                  1         1
489                  1         1

[844 rows x 2 columns]